body {
	position: fixed;
	width: 100%;
	height: 100%;
}

button {
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}


.vertical-flex-wrapper {
	height: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.left-column {
	height: 100%;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

.right-column {
	width: 400px;
	height: 100%;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

/*
	Legacy Firefox implementation treats all flex containers
	as inline-block elements.
*/

@-moz-document url-prefix() {
	.vertical-flex-wrapper {
		width: 100%;
		-moz-box-sizing: border-box;
	}

}

.right-column-content {
	height: 100%;
	border-left: 1px solid #ecf0f1;
	padding-left: 10px;
	padding-right: 10px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.horizontal-flex-wrapper {
	height: 100%;
	width: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.input-row {
	height: 100px;

	padding: 10px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

.input-row textarea {
	 resize: none;
}

.chat-messages {
	overflow-y: scroll;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 10px;


	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

.chat-messages table tr td:nth-child(1) {
	width: 150px;
	text-align: center;
}

/*
	Legacy Firefox implementation treats all flex containers
	as inline-block elements.
*/

@-moz-document url-prefix() {
	.horizontal-flex-wrapper {
		width: 100%;
		-moz-box-sizing: border-box;
	}

}

.input-flex-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.input-flex-wrapper > div:nth-child(1) {
	padding-right: 10px;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

.input-flex-wrapper > div:nth-child(2) {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

/*
	Legacy Firefox implementation treats all flex containers
	as inline-block elements.
*/

@-moz-document url-prefix() {
	.input-flex-wrapper {
		width: 100%;
		-moz-box-sizing: border-box;
	}

}

.users {
	padding-top: 10px;
	text-align: center;

}

.users .caption {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0;
}

.users .thumbnail {
	position: relative;
	width: 160px;
	height: 180px;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.users .thumbnail img {
	max-height: 100px;
	max-width:  100px;
}

.users .thumbnail .h3 {
	margin: 0;
}

.hubs {
	padding-top: 10px;
	display: none;
}

.hubs .list-group-item {
	cursor: pointer;
}

.right-column-content div.active {
	display: block;
}

.right-column  ul.nav li {
	-webkit-transition: all 2s; 
	transition: all 2s;
}

.right-column  ul.nav li a {
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

.chat-messages table tr td:first-child {
	vertical-align: middle;
	cursor: pointer;
}

.chat-messages table tr td:nth-child(3) {
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	width: 100px;
}

.chat-messages table tr td:nth-child(3):hover {
	background-color: #0f7864;
}
