<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Хабрачат</title>

		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

		<!-- Bootstrap -->
		<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			body {
				position: fixed;
				width: 100%;
				height: 100%;
			}

			.title h1 {
				text-align: center;
			}

			.title h3 {
				text-align: center;
			}

			#uLogin {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="title">
			<h1>Хабрачат</h1>
			<h3>Авторизуйся, что бы войти.</h3>
			<div id="uLogin" data-ulogin="display=panel;fields=first_name,last_name,photo;providers=vkontakte,facebook,googleplus,yandex;hidden=other;redirect_uri={{ url_escape(options.auth_url) }}"></div>
			<script src="//ulogin.ru/js/ulogin.js"></script>
		</div>
	</body>
</html>